@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



@layer base {

  input[type="number"]{
    -moz-appearance: textfield;
  }
  
  .btn-outline.btn-primary,
  .btn-outline.btn-error {
    &.btn[disabled],
    &.btn-disabled {
      // @apply text-base-secondary;
    }
  }

  .btn[disabled],
  .btn-disabled {
    @apply bg-base-200;
  }
}
@layer components {
  .center-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  input:focus,
  textarea:focus {
    @apply outline-1 focus:outline-1 #{!important};
  }
  .input-sm {
    height: 2rem !important;
    min-height: 2rem !important;
  }

  .input-md {
    height: 2.5rem !important;
    min-height: 2.5rem !important;
  }

  .input-lg {
    height: 3rem !important;
    min-height: 3rem !important;
  }
}
